/.venv
/call_graphs_cache.pt
/results_gat
/results_gin
/__pycache__
/results_gat_graph_only
call_graphs_no_func_cache.pt
results_gat_no_func_emb/gat_no_func_fold_1_best.pt
results_gat_no_func_emb/gat_no_func_fold_2_best.pt
